body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;

}

.bg-cao {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: transparent !important;
    font-size: 20px;
}

.btn-nav {
    color: #1da85c !important;
    transition: 0.3s;
}

.btn-nav:hover {
    color: #024b23 !important;
}

.logout {
    margin-left: 5px;
}

.meio-1 {
    width: 100%;
    height: 70vh;
    display: flex;
}

.cadastro-pet {
    position: absolute;
    width: 50%;
    height: 40%;
    background-color: white;
    margin-left: 10%;
    margin-top: 7%;
    border-radius: 15px;
    display: flex;
}

.cadastro-pet img {
    width: 120%;
    height: 50%;
    margin-top: 45%;
}

.cadastro-pet hr {
    height: 89%;
    width: .1vw;
    border-width: 0;
    background-color: #19db70;
}



.frase-cdt h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    line-height: 75%;
    margin-top: 25%;
    display: flex;
}

.frase-cdt p {
    font-size: 18px bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    line-height: 75%;
    margin-top: 15%;
}


.cadastrobtn {
    border-color: #19db70;
    background-color: #19db70;
    color: white;
    width: 70%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 100px;
    font-weight: bold;
    font-size: 2.2vmin;
    margin-left: 10%;
    margin-top: 15%;
    box-shadow: 0px 0px 3px #024b23;
    position: absolute;
}

.cadastrobtn:hover {
    background-color: #024b23 !important;
    border-color: transparent !important;
}

.meio-2 {
    width: 100%;
    height: 50vh;
    background-image: url(../img/banner-gato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.meio-2 .banner-cat {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.meio-2 .banner-cat .left-cat {
    width: 35%;
    background-color: #83c589;
    border-bottom-right-radius: 300px;
    display: flex;
    justify-content: left;
}

.meio-2 .banner-cat .left-cat .logo-cat {
    display: flex;
}

.meio-2 .banner-cat .left-cat .logo-cat img {
    width: 230px;
    height: 200px;
    margin-top: 20%;
}

.meio-2 .banner-cat .left-cat .text-cat {
    display: inline;
}

.meio-2 .banner-cat .left-cat .text-cat h1 {
    color: white !important;
    text-align: center;
    font-size: 60px;
    margin-top: 30%;
}

.meio-2 .banner-cat .left-cat p {
    color: white !important;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}


.meio-2 .banner-cat .center-cat {
    width: 35%;
    background-color: transparent;
}

.meio-2 .banner-cat .right-cat {
    width: 35%;
    background-color: #83c589;
    border-top-left-radius: 300px;
}

/* sobre nos */
.title-sn{
    height: 10vh;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}
.title01{
    background-color: #83c589;
    height: 2vh;
}
.title02{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title02 h1{
    font-size: 40px;
    text-transform: uppercase;
    color: #83c589;
}
.title03{
    background-color: #83c589;
    height: 2vh;
}

.sobre-nos {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    margin: 0;
}

.sobre-nos h3 {
    margin: 10px 0;
    color: #83c589;
}

.sobre-nos h6 {
    margin: 5px 0;
    text-transform: uppercase;
    color: #83c589;

}

.sobre-nos p {
    font-size: 14px;
    line-height: 21px;
    color: #83c589;
}

.sobre-nos .LucasA{
    display: flex;
    justify-content: right;
}

.sobre-nos .LucasR{
    display: flex;
    justify-content: left;
}

.sobre-nos .card-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.sobre-nos .card-container .pro {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.sobre-nos .card-container .round {
    border: 1px solid #83c589;
    border-radius: 50%;
    padding: 7px;
}
.sobre-nos .card-container img {
    width: 45%;
    height: 160px;
}

.sobre-nos .skills {
    background-color: #83c589;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
    
    
}

.sobre-nos .skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.sobre-nos .skills h6{
    color: white;
}

.sobre-nos .skills ul li {
    border: 1px solid white;
    color: white;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    justify-content: center;
    padding: 7px;
}
.sobre-nos .skills ul li i{
    color: white;
    transition: 0.5s;
}
.sobre-nos .skills ul li i:hover{
    color: #024b23;
}
.sobre-nos .skills .social{
    display: flex;
    justify-content: center;
}
.sobre-nos .skills .social li{
    border: 0;
}

/* contato */
.contato {
    height: 88vh;
    background-color: #83c589;
}

.text-ctt {
    color: white;
    font-size: large;
}

.text-ctt h1 {
    font-size: 50px;
}

.ctt {
    display: flex;
    height: 70vh;
}

.ctt-left {
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.ctt-left img {
    width: 100%;
    height: 90%;
    margin-top: 4%;
    border-radius: 10px;
}

.ctt-right {
    background-color: white;
    width: 100%;
    height: auto;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.ctt-right h1 {
    font-size: 35px;
    margin-top: 4%;
    margin-left: 2%;
}

.ctt-right p {
    font-size: 15px;
    margin-top: 2%;
    margin-left: 2%;
    text-align: justify !important;
    color: rgb(54, 54, 54);
}

.ctt-form {
    background-color: rgb(232, 232, 232) !important;
}

.ctt-btn {
    border-color: #19db70;
    background-color: #19db70;
    color: white;
    width: 70%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 100px;
    font-weight: bold;
    font-size: 2.2vmin;
    margin-left: 10%;
    box-shadow: 0px 0px 3px #024b23;
    position: absolute;
}

.ctt-btn:hover {
    background-color: #024b23 !important;
    border-color: transparent !important;
}


/* rodapé */
.rodape {
    background-color: #024b23 !important;
}

.footer {
    display: flex;
    height: auto;
    color: rgb(232, 232, 232);
}

.logo_footer img {
    width: 70%;
    height: auto;
}

.footer hr {
    background-color: rgb(232, 232, 232);
}

.div-rs {
    text-align: right;
}

.div-rs img {
    width: 20%;
}

.hr-footer {
    background-color: rgb(232, 232, 232);
}

.footer-end {
    width: 100%;
    color: rgb(232, 232, 232);
}

.copyr {
    width: 100%;

}



/*cores:
verde: #48ff9a;
verde claro: #abffd1;
verde mais claro: #d3fbe5;
verde escuro: #19db70;
verde  mais escuro: #024b23;
verde mais escuro ainda: #013016;
vermelho: #b91919;
cinza: #808080;
verde musgo: #83c589
*/